.button-container {
    display: flex;
    justify-content: center;
}

.button-start {
    background-color: #ffffff;
    color: black;
    border: 2px solid #4CAF50;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 8px;
}

.button-stop {
    background-color: #ffffff;
    color: black;
    border: 2px solid #f44336;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.button-container button:first-child:hover {
    background-color: #4CAF50;
}

.button-container button:last-child:hover {
    background-color: #f44336;
}