.button-container {
    display: flex;
    justify-content: center;
}

.button-start {
    background-color: #ffffff;
    color: black;
    border: 2px solid #4CAF50;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 8px;
}

.button-stop {
    background-color: #ffffff;
    color: black;
    border: 2px solid #f44336;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.button-container button:first-child:hover {
    background-color: #4CAF50;
}

.button-container button:last-child:hover {
    background-color: #f44336;
}

.timer {
    margin-top: 100px;
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    justify-content: center;
    color: #49d450;
    font-size: 44px;
}

.field {
    padding: 10px 10px 5px 10px;
    margin: 1px;
    border-radius: 4px;
    background: #000000;
    display: inline-block;
    text-align: center;
    width: 80px;
}

.value {
    border-radius: 4px;
    background: #727272;
    display: inline-block;
    width: 80px;
}

.label {
    display: block;
    font-size: 16px;
    color: #727272;
}